<section class="cart py-12">
    <% if(session.cart) { %>
    <div class="order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Sản phẩm trong giỏ</h1>
        </div>
        <% if(messages.error) { %>
            <div id="error-alert" class="flex items-center bg-yellow-500 text-white text-sm font-bold px-4 py-3"
                role="alert">
                <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                        d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" />
                </svg>
                <p><%= messages.error %></p>
            </div>
        <% } %>
        <div class="pizza-list">
            <% for(let sanpham of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8">
                <img class="w-24" src="/uploads/products/<%= sanpham.item.image %>" alt="product img">
                <div class="flex-1 ml-4">
                    <h1><%= sanpham.item.name %></h1>
                    <span><%= sanpham.item.size %></span>
                </div>
                <span class="flex-1"><%= sanpham.qty %> Pcs</span>
                <span class="font-bold text-lg">₹ <%= sanpham.item.price * sanpham.qty %></span>
            </div>
            <%  } %>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Tổng tiền:</span>
                <span class="amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice %></span>
            </div>
            <% if(user) { %>
            <div>
                <form action="/orders" method="POST" class="mt-12" id="payment-form">
                    <div class="relative w-1/2 ml-auto mb-4">
                        <select id="paymentType" name="paymentType" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                          <option value="cod">Thanh toán khi nhận hàng</option>
                          <option value="paypal">Trả bằng PayPal</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                      </div>
                    <input name="phone" class="border border-gray-400 p-2 w-1/2 mb-4" type="text"
                        placeholder="Số điện thoại người nhận">
                    <input name="address" class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Địa chỉ giao hàng">
                    <div class="mt-4">
                        <div id="card-element"></div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Đặt ngay</button>
                    </div>
                </form>
            </div>
            <% } else { %>
                <a href="/login" class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Đăng nhập để tiếp tục</a>
            <% } %>
        </div>
    </div>
    <% } else { %>
    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Giỏ hàng trống 😕</h1>
            <p class="text-gray-500 text-lg mb-12">Có thể bạn vẫn chưa chọn cho mình một bộ đồ thể thao nào. <br> Để đặt đồ, hãy truy cập trang chính.</p>
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Trở về</a>
        </div>
    </div>
    <% } %>
</section>